<% if user_signed_in? %>

<h1 id="dashboard">Hello! This is your dashboard</h1>
<div class="container">
  <div class="row">
	<div class="col-sm-4">

		<div class="card text-white bg-dark mb-3" style="max-width: 20rem;" id="dash-list">
			  <div class="card-body">
				<p class="card-text"><%= @count %> jobs applied today</p>
			  </div>
			</div>

		<div class="card border-dark mb-3" style="max-width: 20rem;" id="dash-list">
			  <div class="card-header">Statistic</div>
			  <div class="card-body">
				<%= image_tag("graph.png", size: "300x200", alt: "Graph") %>
			  </div>
			</div>

	</div>

	<div class="col-sm-4">

		<div class="card border-dark mb-3" style="max-width: 20rem;" id="dash-list">
			  <div class="card-header"><%= link_to 'Status', jobs_path %></div>
			  <div class="card-body">
				<ul>
						<li><%=@added%> Added</li>
						<li><%=@applied%> Applied</li>
						<li><%=@offer%> Offers</li>
						<li><%=@rejected%> Rejected</li>
					</ul>
					<div class="col text-center">
						<%= link_to '<button type="button" class="btn btn-outline-secondary" id="dash-button">Go to Jobs</button>'.html_safe, jobs_path %>
					</div>
			  </div>
			</div>

			<div class="card text-white bg-dark mb-3" style="max-width: 20rem;" id="dash-list">
			  <div class="card-header">Application Deadline</div>
			  <div class="card-body">
				   <ul>
				   	<% if @deadline.length == 0 %>
				   		<p> No deadlines! </p>
				   	<% else %>
							<% @deadline.each do |job| %>
						 		<a href=<%= job_path(job)%>>
								<li><%=job.deadline.strftime("%d %b")%> : <%=job.comp_name%></li>
						 		</a>
							<% end %>
						<% end %>
					</ul>
			  </div>
			</div>

	</div>

	<div class="col-sm-4">
		<div class="card text-white bg-dark mb-3" style="max-width: 20rem;" id="dash-list">
			  <div class="card-header">Upcoming Interviews</div>
			  <div class="card-body">
				  <ul>
				  	<% if @deadline.length == 0 %>
				   		<p> No upcoming interviews! </p>
				   	<% else %>
							<% @deadline.each do |job| %>
							<a href=<%= job_path(job)%>>
								<li><%=job.deadline.strftime("%d %b, %y")%> at <%=job.comp_name%> - <%=job.title%>  </li>
							</a>
							<% end %>
						<% end %>
					</ul>
			  </div>
			</div>

			<div class="card border-dark mb-3" style="max-width: 20rem;" id="dash-list">
			  <div class="card-header">Recent Activity</div>
			  <div class="card-body">
					<ul>
						<% if @messages.length == 0 %>
				   		<p> No messages! </p>
				   	<% else %>
							<% @messages.each do |message| %>
							<a href= <%=job_path(message.job_id)%>>
								<li><%=message.job.title%>-<%=message.job.comp_name%> <br><%=message.description%> [ <%=message.updated_at.strftime("%d %b, %I:%M %p") %> ] </li></a>
							<% end %>
						<% end %>
					</ul>

			  </div>
			</div>
  </div>
</div>
</div>

<% else%>
<h1>UR NOT LOGGED IN</h1>
<%= link_to 'log in', new_user_session_url %>
<% end %>