<% if user_signed_in? %>
<br>
<div class="container">
	<div class="row">
		<div class="col-sm-3">
			<div class="card mx-auto" style="max-width: 18rem;">
				<div class="card-body">
					<em class="greetings">
						<% if Time.now < "12:00:00".to_time %>
						<p class="card-text text-center">Good morning</p>
						<% elsif Time.now >= "12:00:00".to_time && Time.now < "17:00:00".to_time %>
						<p class="card-text text-center">Good afternoon</p>
						<% else %>
							<p class="card-text text-center">Good evening</p>
						<% end %>
					</em>
				</div>
			</div>

			<div class="card mb-3 mx-auto" style="max-width: 18rem;">
				<div class="card-body">
					<% if @atoday == 1 %>
					<p class="card-text text-center"><span id="numbs-dash"><%= @atoday %></span> job applied today</p>
					<% else %>
					<p class="card-text text-center"><span id="numbs-dash"><%= @atoday %></span> jobs applied today</p>
					<% end %>
				</div>
			</div>

			<div class="card mb-3 mx-auto" style="max-width: 18rem;">
				<div class="card-body">
					<% if @ctoday == 1 %>
					<p class="card-text text-center"><span id="numbs-dash"><%= @ctoday %></span> job created today</p>
					<% else %>
					<p class="card-text text-center"><span id="numbs-dash"><%= @ctoday %></span> jobs created today</p>
					<% end %>
				</div>
			</div>

			<div class="card mb-3 mx-auto" style="max-width: 18rem;"id="dash-recent" >
				<div class="card-header text-center">Recent Activity</div>
				<div class="card-body">

						<% if @messages.length == 0 %>
						<p> No messages </p>
						<% else %>
						<% @messages.each do |message| %>
							<% if message.job.present? %>
								<% modal_id = "modal-id-#{message.job.id}" %>
								<a class = "card-link pointer-cursor" data-toggle="modal" data-target="#<%=modal_id%>">
									<p class="recentAct offset-1"><%=message.description%> <%=message.job.comp_name.capitalize%> <br> [ <%=message.updated_at.localtime.strftime("%d %b, %I:%M %p") %> ] </p><hr></a>
									<%= render "modal-status", job: message.job, modal_id: modal_id%>
							<% end %>
							<% end %>
							<% end %>

					</div>
				</div>
			</div>

			<div class="col-sm-6 p-0">

				<div class="card border-dark mb-3" >
					<div class="card-header text-center">Job Overview</div>
					<div class="card-body">
						<div id="status">
							<div class="row">
								<div class="col-6">
									<p class="offset-2"><span id="numbs-dash"><%=@created%></span> Created</p>
									<p class="offset-2"><span id="numbs-dash"><%=@applied%></span> Submitted</p>
									<p class="offset-2"><span id="numbs-dash"><%=@progress%></span> Prep Interview</p>
								</div>
								<div class="col-6">
									<p class="offset-2"><span id="numbs-dash"><%=@result%></span> Awaiting Results</p>
									<p class="offset-2"><span id="numbs-dash"><%=@offer%></span> Offers</p>
									<p class="offset-2"><span id="numbs-dash"><%=@rejected%></span> Rejected</p>
								</div>

							</div>

						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-6">
						<div class="card mb-3 mx-auto">
							<div class="card-header text-center">View Jobs</div>
							<div class="card-body text-center">
								<div class="col text-center" id="addButtDash">
									<%= link_to '<button type="button" class="btn btn-outline-secondary" id="dash-button">List View</button>'.html_safe, jobs_path %>
									<%= link_to '<button type="button" class="btn btn-outline-secondary" id="dash-button">Grid View</button>'.html_safe, status_job_path %>
								</div>
							</div>
						</div>
					</div>
					<div class="col-6">
						<div class="card mb-3 mx-auto">
							<div class="card-header text-center">Statistic</div>
							<div class="card-body text-center">
								<%= image_tag("graph.png", size: "300x200", alt: "Graph", :class => "img-fluid") %>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-3">
				<div class="card mb-3 mx-auto" style="max-width: 18rem;">
					<div class="card-body">
						<p class="card-text text-center"><span class="dateToday"><%= Date.today.strftime("%d")%></span> <%= Date.today.strftime("%B")%></p>
						<p class="card-text text-center"><%= Date.today.strftime("%Y")%></p>
					</div>
				</div>

				<div class="card mb-3 mx-auto" style="max-width: 18rem;" id="dash-list">
					<div class="card-header text-center">Upcoming Interviews</div>
					<div class="card-body">

							<% if @interview.length == 0 %>
							<p> No upcoming interviews </p>
							<% else %>
							<% @interview.each do |job| %>
							<% if job.interview != nil %>

								<% modal_id = "modal-id-#{job.id}" %>
								<a class = "card-link pointer-cursor" data-toggle="modal" data-target="#<%=modal_id%>">
								<p class="recentAct-2 offset-1"><%=job.interview.strftime("%d %b")%> : <%=job.title.capitalize%> at <%=job.comp_name.capitalize%>  </p><hr>
							</a>
							<%= render "modal-status", job: job, modal_id: modal_id%>
							<% end %>
							<% end %>
							<% end %>
					</div>
				</div>

				<div class="card mb-3 mx-auto" style="max-width: 18rem;" id="dash-list">
					<div class="card-header text-center">Application Deadline</div>
					<div class="card-body">

							<% if @deadline.length == 0 %>
							<p> No upcoming deadlines </p>
							<% else %>
							<% @deadline.each do |job| %>
							<% if job.deadline != nil %>

								<% modal_id = "modal-id-#{job.id}" %>
								<a class = "card-link pointer-cursor" data-toggle="modal" data-target="#<%=modal_id%>">
								<p class="recentAct-2 offset-1"><%=job.deadline.strftime("%d %b")%> : <%=job.comp_name.capitalize%></p><hr>

							</a>
							<%= render "modal-status", job: job, modal_id: modal_id%>
							<% end %>
							<% end %>
							<% end %>

					</div>
				</div>
			</div>
		</div>
	</div>


	<% else%>
	<h1>Please Login</h1>
	<%= link_to 'log in', new_user_session_url %>
	<% end %>

	<div class="add-job-btn">
		<button type="button" class="btn btn-outline-secondary" id="addButton">+</button>
	</div>