<% if user_signed_in? %>
<div class="container">
	<div class="row">
		<h1 class="mx-auto headerTitle"> Applications</h1>
		<div class="row justify-content-end">
			<div class="changeViewIcons mr-5">
				<%= link_to '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M96 176h80V96H96v80zm120 240h80v-80h-80v80zm-120 0h80v-80H96v80zm0-120h80v-80H96v80zm120 0h80v-80h-80v80zM336 96v80h80V96h-80zm-120 80h80V96h-80v80zm120 120h80v-80h-80v80zm0 120h80v-80h-80v80z"/></svg>'.html_safe, status_job_path %>
				<%= link_to '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M96 348h320v36H96zM96 128h320v36H96zM96 200.7h320v35.6H96zM96 275.8h320v35.6H96z"/></svg>'.html_safe, jobs_path %>
			</div>
		</div>
	</div>
	​
	<div class= "row filters m-0">
		<div class="row">
			<div class="column" id="searchBar">
				<input class="form-control homepage-searchbar" style="width:540px;" id="myInput" type="text" placeholder="Search for application by company name, title, location, salary, status"/>
			</div>
		</div>
		​
		<div id="sortBy" class="form-group">
			<div class="sortBySelect" style="width:200px;">
				<%= form_tag(jobs_path, method: "get") do %>
				<%= select_tag(:sortby, options_for_select(
					["Sort by",
						['Company Name (A --> Z)','comp-asc'],
						['Company Name (Z --> A)','comp-des'],
						['Title Name (A --> Z)','title-asc'],
						['Title Name (Z --> A)','title-des'],
						['Status (First --> Last)','status-asc'],
						['Status (Last --> First)','status-des'],
						['Deadline (Nearest --> Furthest)','deadline-asc'],
						['Deadline (Furthest --> Nearest)','deadline-des'],
						['Interview (Nearest --> Furthest)','interview-asc'],
						['Interview (Furthest --> Nearest)','interview-des'],
						['Salary (Low --> High)','salary-asc'],
						['Salary (High --> Low)','salary-des']
						]), :onchange=>'this.form.submit();',class:"form-control" ) %>
						<%end%>
					</div>
				</div>
			</div>
			​
​
	<div class=" justify-content-center text-center mx-auto my-0" id="jobsTable">
			<table class="table table-striped bg-light">
			  <thead>
			    <!-- <tr class="table table-info"> -->
			    <tr class="table">
			      <th scope="col">Company</th>
			      <th scope="col">Title</th>
			      <th scope="col">Status</th>
			      <th scope="col">Deadline</th>
			      <th scope="col">Interview</th>
			      <th scope="col">Salary</th>
			      <th scope="col">Location</th>
			      <th scope="col">Url</th>
			    </tr>
			  </thead>
			  <tbody id ="myTable">
​
			  	<% @sorted.each do |job| %>
			  		<% modal_id = "modal-id-#{job.id}" %>
​
			    <tr class = "pointer-cursor recentAct-3" data-job="<%= job.id%>">
​
			      <td><%= job.comp_name.titleize %></td>
			      <td><%= job.title.titleize %></td>
			      <td><%= job.status.titleize %></td>
				    <% if job.deadline.present?  %>
				      <% if job.deadline >= Date.today %>
					      <td><%= job.deadline.strftime("%d %b %Y") %></td>
				      <% else%>
					    	<td style="color:#bdbdbd"><%= job.deadline.strftime("%d %b %Y") %></td>
					    <% end %>
				    <% else %>
				    	<td>-</td>
				    <% end %>

							<% if job.interview.present?  %>
							<% if job.interview >= Date.today %>
							<td><%= job.interview.strftime("%d %b %Y") %></td>
							<% else%>
							<td style="color:#bdbdbd"><%= job.interview.strftime("%d %b %Y") %></td>
							<% end %>
							<% else %>
							<td>-</td>
							<% end %>
							<td><%= job.salary %></td>
							<td><%= job.location.titleize %></td>							​
							<td><%=link_to "Link", "http://#{job.url}", class: " text-info"%></td>
						</tr>							​
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	​

<% @sorted.each do |job| %>
	<% modal_id = "modal-id-#{job.id}" %>
	<%= render "modal-status", job: job, modal_id: modal_id%>
	<% end%>
	​
	<% else%>
		<h1>Please Login</h1>
		<%= controller.redirect_to root_path %>
		<% end %>
	<div class="add-job-btn">
		<button type="button" class="btn btn-outline-secondary" id="addButton">+</button>
	</div>