<% if user_signed_in? %>
<%= link_to 'Log out', destroy_user_session_url, method: :delete %><br>
<%= link_to 'Add job', new_job_path %>

<h1>Listing Jobs (INDEX)</h1>
<table>
  <tr>
    <th>Company Name</th>
    <th>Title</th>
    <th>Location</th>
    <th>Salary</th>
    <th>Url</th>
    <th>Deadline</th>
  </tr>
  <% @jobs.each do |job| %>
    <tr>
      <td><%= job.comp_name %></td>
      <td><%= job.title %></td>
      <td><%= job.location %></td>
      <td><%= job.salary %></td>
      <td><%= job.url %></td>
      <td><%= job.deadline %></td>
      <td><%= link_to 'Show', job_path(job) %></td>
      <td><%= link_to 'Delete', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<% else%>
<h1>UR NOT LOGGED IN</h1>
<%= link_to 'log in', new_user_session_url %>
<% end %>