<h1> Add new page </h1>
<%= form_with scope: :job, url: jobs_path, local: true do |form| %>
  <p>
    <%= form.label :'company name' %><br>
    <%= form.text_field :comp_name %>
  </p>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
  <p>
    <%= form.label :location %><br>
    <%= form.text_area :location %>
  </p>
  <p>
    <%= form.label :salary %><br>
    <%=form.select :salary, raw("<option>$0 - 1,999</option><option>$2,000 - 2,999</option><option>$3,000 - 3,999</option><option>$4,000 - 4,999</option><option>$5,000 - 5,999</option><option>$6,000 ++</option>") %>
  </p>
  <p>
    <%= form.label :'job listing url'%><br>
    <%= form.text_field :url %>
  </p>
   <p>
    <%= form.label :deadline %><br>
    <%= form.date_field :deadline %>
  </p>

  <p>
    <%= form.label :interview %><br>
    <%= form.date_field :interview %>
  </p>

  <p>
   <%= form.label :status %><br>
   <%=form.select :status, raw('<option>Started</option><option>Submitted</option><option>1st Interview</option><option>2nd Interview</option><option>Awaiting Results</option>
       <option>Offer Received</option><option>Rejected</option>') %>
 </p>
  <p>
    <%= form.label :industry %><br>
    <%= form.text_field :ind %>
  </p>
  <p>
    <%= form.label :"user id" %><br>
    <%= form.text_field :user_id %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
<%= link_to 'Home', root_path %>