<h1>JOBS: (SHOW)</h1>
<p>
 <strong>Company Name:</strong>
 <%= @job.comp_name %>
</p>
<p>
 <strong>Title:</strong>
 <%= @job.title %>
</p>
<p>
 <strong>location:</strong>
 <%= @job.location %>
</p><p>
 <strong>salary:</strong>
 <%= @job.salary %>
</p><p>
 <strong>url:</strong>
 <%= @job.url %>
</p><p>
 <strong>deadline:</strong>
 <%= @job.deadline %>
</p>
<%= link_to 'Home', root_path %>
<%= link_to 'Edit', edit_job_path(@job) %>