<% if user_signed_in? %>

<h1 class = "text-center">All Application</h1>

<div class = "row justify-content-center m-3">

	<% if @job_saved.length == 0 %>
		<div></div>
		<%else%>
		<div class = "col">
			<div class = "status-header text-center my-4">
				<h4> Saved </h4>
				<small> <%= @job_saved.length %> JOBS </small>
			</div>
			<% @job_saved.each do |job| %>
				<% modal_id = "modal-id-#{job.id}" %>
				<% col_header = "Saved" %>
				<%= render "modal-status", job: job, modal_id: modal_id%>
					<div class = "card regular mb-3">
						<a class = "card-link" data-toggle="modal" data-target="#<%=modal_id%>">
							<%= render "job-modal-content", job: job%>
						</a>
					</div>
				<%= render "modal-status", job: job, modal_id: modal_id%>
			<%end%>
		</div>
	<%end%>

	<% if @job_applied.length == 0 %>
		<div></div>
		<%else%>
			<div class = "col">
				<div class = "status-header text-center my-4">
					<h4> Applied </h4>
					<small> <%= @job_applied.length %> JOBS </small>
				</div>
				<% @job_applied.each do |job| %>
				<% modal_id = "modal-id-#{job.id}" %>
					<div class = "card regular mb-3">
						<a class = "card-link" data-toggle="modal" data-target="#<%=modal_id%>">
							<%= render "job-modal-content", job: job%>
						</a>
					</div>
					<%= render "modal-status", job: job, modal_id: modal_id%>
				<%end%>
			</div>
	<%end%>

	<% if @job_interview.length == 0 %>
		<div></div>
		<%else%>
			<div class = "col">
				<div class = "status-header text-center my-4">
					<h4> Interview </h4>
					<small> <%= @job_interview.length %> JOBS </small>
				</div>
				<div class = "job-list">
					<% @job_interview.each do |job| %>
						<% modal_id = "modal-id-#{job.id}" %>
							<div class = "card regular mb-3">
								<a class = "card-link" data-toggle="modal" data-target="#<%=modal_id%>">
								<%= render "job-modal-content", job: job%>
							</a>
						</div>
				<%= render "modal-status", job: job, modal_id: modal_id%>
				<%end%>
			</div>
		</div>
	<%end%>

</div>

<% else%>

<h1>UR NOT LOGGED IN</h1>
<%= link_to 'log in', new_user_session_url %>

<% end %>