<% if user_signed_in? %>
<%= link_to 'Log out', destroy_user_session_url, method: :delete %><br>
<%= link_to 'Add job', new_job_path %>

<h1 class = "text-center">All Application</h1>

<div class = "row container">
	<div class = "col saved">
		<div class = "status-header text-center my-4">
			<h4> Saved </h4>
			<small> <%= @job_saved.length %> JOBS </small>
		</div>
		<% @job_saved.each do |job| %>
			<% modal_id = "modal-id-#{job.id}" %>
				<div class = "card regular mb-3">
					<a class = "card-link" data-toggle="modal" data-target="#<%=modal_id%>">
					<div class = "description text-center mt-3 mb-2">
						<p class = "font-weight-bold mb-0">
							<%= job.comp_name.capitalize %>
						</p>
						<p>
							<%= job.title.capitalize %>
						</p>
						<small>
							== <%= job.status.capitalize %> ==
						</small>
					</div>
					<div class="card-footer pr-2 text-right">
						<small>
							Added on <%= job. created_at.to_date %>
						</small>
					</div>
				</a>
			</div>
			<!-- Start of Modal -->
				<div class="modal fade bd-example-modal-lg" id="<%= modal_id %>" tabindex="-1" role="dialog" aria-hidden="true">
				  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
				    <div class="modal-content">
				    	<button type="button" class="close text-right pr-3 pt-2" data-dismiss="modal" aria-label="Close">
				        <span aria-hidden="true">&times;</span>
				      </button>
				      <div class="modal-header flex-column p-4">
				        <p class="modal-title ">Status: <%= job.status.capitalize %></p>
				        <h3><%= job.comp_name.capitalize %></h3>
				        <h5 class = "font-italic"><%= job.title.capitalize %></h5>
				      </div>

				      <div class="modal-body row justify-content-center">
				       	<div class = "job-info">
				       		<p class = "p-2 m-0 font-weight-bold">GENERAL INFO</p>

				       		<table class="table table-borderless border-right">
									  <tbody>
									    <tr>
									      <td>Company</td>
									      <td><%= job.comp_name.capitalize %></td>

									    </tr>
									    <tr>
									      <td>Title</td>
									      <td><%= job.title.capitalize %></td>
									    </tr>
									    <tr>
									      <td>Location</td>
									      <td><%= job.location.capitalize %></td>
									    </tr>
									    <tr>
									      <td>Salary</td>
									      <td><%= job.salary %></td>
									    </tr>
									    <tr>
									      <td>URL</td>
									      <td><%= job.url %></td>
									    </tr>
									  </tbody>
									</table>
				      	</div>

				      	<div class = "job-dates">
				      		<p class = "p-2 m-0 font-weight-bold">Key Dates</p>
				       		<table class="table table-borderless">
									  <tbody>
									    <tr>
									      <td>Application Deadline</td>
									      <td><%= job.deadline %></td>
									    </tr>
									  </tbody>
									</table>
				      	</div>
				      </div>

				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				        <a href = <%= edit_job_path (job.id)%>>
				        	<button type="button" class="btn btn-primary"> Edit Details</button>
				        </a>
				      </div>
				    </div>
				  </div>
				</div>
			<!-- End of Modal -->
		<%end%>
	</div>

	<div class = "col applied">
		<div class = "status-header text-center my-4">
			<h4> Applied </h4>
			<small> <%= @job_applied.length %> JOBS </small>
		</div>
		<% @job_applied.each do |job| %>
		<% modal_id = "modal-id-#{job.id}" %>
			<div class = "card regular mb-3">
				<a class = "card-link" data-toggle="modal" data-target="#<%=modal_id%>">
					<div class = "description text-center mt-3 mb-2">
						<p class = "font-weight-bold mb-0">
							<%= job.comp_name.capitalize %>
						</p>
						<p>
							<%= job.title.capitalize %>
						</p>
						<small>
							== <%= job.status.capitalize %> ==
						</small>
					</div>
					<div class="card-footer pr-2 text-right">
						<small>
							Added on <%= job. created_at.to_date %>
						</small>
					</div>
				</a>
			</div>

			<!-- Start of Modal -->
				<div class="modal fade bd-example-modal-lg" id="<%= modal_id %>" tabindex="-1" role="dialog" aria-hidden="true">
				  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
				    <div class="modal-content">
				    	<button type="button" class="close text-right pr-3 pt-2" data-dismiss="modal" aria-label="Close">
				        <span aria-hidden="true">&times;</span>
				      </button>
				      <div class="modal-header flex-column p-4">
				        <p class="modal-title ">Status: <%= job.status.capitalize %></p>
				        <h3><%= job.comp_name.capitalize %></h3>
				        <h5 class = "font-italic"><%= job.title.capitalize %></h5>
				      </div>

				      <div class="modal-body row justify-content-center">
				       	<div class = "job-info">
				       		<p class = "p-2 m-0 font-weight-bold">GENERAL INFO</p>

				       		<table class="table table-borderless border-right">
									  <tbody>
									    <tr>
									      <td>Company</td>
									      <td><%= job.comp_name.capitalize %></td>

									    </tr>
									    <tr>
									      <td>Title</td>
									      <td><%= job.title.capitalize %></td>
									    </tr>
									    <tr>
									      <td>Location</td>
									      <td><%= job.location.capitalize %></td>
									    </tr>
									    <tr>
									      <td>Salary</td>
									      <td><%= job.salary %></td>
									    </tr>
									    <tr>
									      <td>URL</td>
									      <td><%= job.url %></td>
									    </tr>
									  </tbody>
									</table>
				      	</div>

				      	<div class = "job-dates">
				      		<p class = "p-2 m-0 font-weight-bold">Key Dates</p>
				       		<table class="table table-borderless">
									  <tbody>
									    <tr>
									      <td>Application Deadline</td>
									      <td><%= job.deadline %></td>
									    </tr>
									  </tbody>
									</table>
				      	</div>
				      </div>

				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				        <a href = <%= edit_job_path (job.id)%>>
				        	<button type="button" class="btn btn-primary"> Edit Details</button>
				        </a>
				      </div>
				    </div>
				  </div>
				</div>
			<!-- End of Modal -->

		<%end%>
	</div>

	<div class = "col interviewing">
		<div class = "status-header text-center my-4">
			<h4> Interview </h4>
			<small> <%= @job_interview.length %> JOBS </small>
		</div>
		<div class = "job-list">
			<% @job_interview.each do |job| %>
				<% modal_id = "modal-id-#{job.id}" %>
					<div class = "card regular mb-3">
						<a class = "card-link" data-toggle="modal" data-target="#<%=modal_id%>">
						<div class = "description text-center mt-3 mb-2">
							<p class = "font-weight-bold mb-0">
								<%= job.comp_name.capitalize %>
							</p>
							<p>
								<%= job.title.capitalize %>
							</p>
							<small>
								== <%= job.status.capitalize %> ==
							</small>
						</div>
						<div class="card-footer pr-2 text-right">
							<small>
								Added on <%= job.created_at.to_date %>
							</small>
						</div>
					</a>
				</div>

			<!-- Start of Modal -->
				<div class="modal fade bd-example-modal-lg" id="<%= modal_id %>" tabindex="-1" role="dialog" aria-hidden="true">
				  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
				    <div class="modal-content">
				    	<button type="button" class="close text-right pr-3 pt-2" data-dismiss="modal" aria-label="Close">
				        <span aria-hidden="true">&times;</span>
				      </button>
				      <div class="modal-header flex-column p-4">
				        <p class="modal-title ">Status: <%= job.status.capitalize %></p>
				        <h3><%= job.comp_name.capitalize %></h3>
				        <h5 class = "font-italic"><%= job.title.capitalize %></h5>
				      </div>

				      <div class="modal-body row justify-content-center">
				       	<div class = "job-info">
				       		<p class = "p-2 m-0 font-weight-bold">GENERAL INFO</p>

				       		<table class="table table-borderless border-right">
									  <tbody>
									    <tr>
									      <td>Company</td>
									      <td><%= job.comp_name.capitalize %></td>

									    </tr>
									    <tr>
									      <td>Title</td>
									      <td><%= job.title.capitalize %></td>
									    </tr>
									    <tr>
									      <td>Location</td>
									      <td><%= job.location.capitalize %></td>
									    </tr>
									    <tr>
									      <td>Salary</td>
									      <td><%= job.salary %></td>
									    </tr>
									    <tr>
									      <td>URL</td>
									      <td><%= job.url %></td>
									    </tr>
									  </tbody>
									</table>
				      	</div>

				      	<div class = "job-dates">
				      		<p class = "p-2 m-0 font-weight-bold">Key Dates</p>
				       		<table class="table table-borderless">
									  <tbody>
									    <tr>
									      <td>Application Deadline</td>
									      <td><%= job.deadline %></td>
									    </tr>
									  </tbody>
									</table>
				      	</div>
				      </div>

				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				        <a href = <%= edit_job_path (job.id)%>>
				        	<button type="button" class="btn btn-primary"> Edit Details</button>
				        </a>
				      </div>
				    </div>
				  </div>
				</div>
			<!-- End of Modal -->

			<%end%>
		</div>
	</div>
</div>



<% else%>
<h1>UR NOT LOGGED IN</h1>
<%= link_to 'log in', new_user_session_url %>
<% end %>