<% if user_signed_in? %>
<div class="container-fluid">
    <div class="addnew">
        <h1 class = "text-center mx-auto">Applications</h1>
        <div class=" mr-5">
                <%= link_to '<button type="button" class="btn btn-outline-secondary" id="addButton">Add New</button>'.html_safe, new_job_path %>
        </div>
    </div>
        <div class="changeViewIcons mr-5">
                <%= link_to '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M96 176h80V96H96v80zm120 240h80v-80h-80v80zm-120 0h80v-80H96v80zm0-120h80v-80H96v80zm120 0h80v-80h-80v80zM336 96v80h80V96h-80zm-120 80h80V96h-80v80zm120 120h80v-80h-80v80zm0 120h80v-80h-80v80z"/></svg>'.html_safe, status_job_path %>
                <%= link_to '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M96 348h320v36H96zM96 128h320v36H96zM96 200.7h320v35.6H96zM96 275.8h320v35.6H96z"/></svg>'.html_safe, jobs_path %>
        </div>
        <div class = "row justify-content-center m-3">
    <% if @job_started.length == 0 %>
        <div></div>
        <%else%>
        <div class = "col status-col">
            <div class = "status-header text-center my-4">
                <h4> Started </h4>
                <small> <%= @job_started.length %> JOBS </small>
            </div>
            <div class = "job-list">
                <% @job_started.each do |job| %>
                    <% modal_id = "modal-id-#{job.id}" %>
                        <div class = "card regular mb-3">
                            <a class = "card-link" data-toggle="modal" data-target="#<%=modal_id%>">
                                <%= render "job-card-content", job: job%>
                            </a>
                        </div>
                    <%= render "modal-status", job: job, modal_id: modal_id%>
                <%end%>
            </div>
        </div>
    <%end%>
    <% if @job_submitted.length == 0 %>
        <div></div>
        <%else%>
            <div class = "col status-col">
                <div class = "status-header text-center my-4">
                    <h4> Submitted </h4>
                    <small> <%= @job_submitted.length %> JOBS </small>
                </div>
                <div class = "job-list">
                    <% @job_submitted.each do |job| %>
                    <% modal_id = "modal-id-#{job.id}" %>
                        <div class = "card regular mb-3">
                            <a class = "card-link" data-toggle="modal" data-target="#<%=modal_id%>">
                                <%= render "job-card-content", job: job%>
                            </a>
                        </div>
                        <%= render "modal-status", job: job, modal_id: modal_id%>
                    <%end%>
                </div>
            </div>
    <%end%>
    <% if @job_interview.length == 0 %>
        <div></div>
        <%else%>
            <div class = "col status-col">
                <div class = "status-header text-center my-4">
                    <h4> Interview </h4>
                    <small> <%= @job_interview.length %> JOBS </small>
                </div>
                <div class = "job-list">
                    <% @job_interview.each do |job| %>
                        <% modal_id = "modal-id-#{job.id}" %>
                            <div class = "card regular mb-3">
                                <a class = "card-link" data-toggle="modal" data-target="#<%=modal_id%>">
                                <%= render "job-card-content", job: job%>
                            </a>
                        </div>
                    <%= render "modal-status", job: job, modal_id: modal_id%>
                <%end%>
            </div>
        </div>
    <%end%>
    <% if @job_awaiting.length == 0 %>
        <div></div>
        <%else%>
            <div class = "col status-col">
                <div class = "status-header text-center my-4">
                    <h4> Awaiting Results </h4>
                    <small> <%= @job_awaiting.length %> JOBS </small>
                </div>
                <div class = "job-list">
                    <% @job_awaiting.each do |job| %>
                        <% modal_id = "modal-id-#{job.id}" %>
                            <div class = "card regular mb-3">
                                <a class = "card-link" data-toggle="modal" data-target="#<%=modal_id%>">
                                <%= render "job-card-content", job: job%>
                            </a>
                        </div>
                <%= render "modal-status", job: job, modal_id: modal_id%>
                <%end%>
            </div>
        </div>
    <%end%>
    <% if @job_offered.length == 0 %>
        <div></div>
        <%else%>
            <div class = "col status-col">
                <div class = "status-header text-center my-4">
                    <h4> Offered </h4>
                    <small> <%= @job_offered.length %> JOBS </small>
                </div>
                <div class = "job-list">
                    <% @job_offered.each do |job| %>
                        <% modal_id = "modal-id-#{job.id}" %>
                            <div class = "card regular mb-3">
                                <a class = "card-link" data-toggle="modal" data-target="#<%=modal_id%>">
                                <%= render "job-card-content", job: job%>
                            </a>
                        </div>
                <%= render "modal-status", job: job, modal_id: modal_id%>
                <%end%>
            </div>
        </div>
    <%end%>
    <% if @job_rejected.length == 0 %>
        <div></div>
        <%else%>
            <div class = "col status-col">
                <div class = "status-header text-center my-4">
                    <h4> Rejected </h4>
                    <small> <%= @job_rejected.length %> JOBS </small>
                </div>
                <div class = "job-list">
                    <% @job_rejected.each do |job| %>
                        <% modal_id = "modal-id-#{job.id}" %>
                            <div class = "card regular mb-3">
                                <a class = "card-link" data-toggle="modal" data-target="#<%=modal_id%>">
                                <%= render "job-card-content", job: job%>
                            </a>
                        </div>
                <%= render "modal-status", job: job, modal_id: modal_id%>
                <%end%>
            </div>
        </div>
    <%end%>
</div>
</div>
<% else%>
<h1>UR NOT LOGGED IN</h1>
<%= link_to 'log in', new_user_session_url %>
<% end %>