<h1>New Contact</h1>

<%= form_with scope: :contact, url: contacts_path, local: true do |f| %>

	<p>
		<%= f.label :'name' %><br>
	  <%= f.text_field :name %>
	</p>
	<p>
		<%= f.label :'phone' %><br>
	  <%= f.text_field :phone %>
	</p>
	<p>
		<%= f.label :'email' %><br>
	  <%= f.text_field :email %>
	</p>

	<p>
	  <%= f.submit %>
	</p>

<% end %>

<%= link_to 'All Contacts', contacts_path %>