<h1>All Documents</h1>

<%= link_to 'New Document', new_document_path %>

<% @documents.each do |doc| %>
	<p>
		<a href = <%= document_path(doc) %>>
			<%= cl_image_tag("#{doc.file}.png", :width => 200, :height => 250, :crop => :fill) %>
		</a>
		Update: <%= link_to 'Edit', edit_document_path(doc) %>
		Delete: <%= link_to 'Delete', document_path(doc), method: :delete, data: { confirm: 'Are you sure?' } %>
		Title: <%= doc.title %>
		Type: <%= doc.doc_type %>

	</p>
<% end %>