<!-- Modal -->
<div class="modal fade" id="add-new-contacts-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
	<div class="modal-content">
	  <div class="modal-header">
		<h5 class="modal-title" id="exampleModalCenterTitle">New Contact</h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		  <span aria-hidden="true">&times;</span>
		</button>
	  </div>
	  <div class="modal-body">
			<%= form_with scope: :contact, url: contacts_path, local: true do |f| %>
			<p>
				<%= f.label :'name' %><br>
			  <%= f.text_field :name %>
			</p>
			<p>
				<%= f.label :'title' %><br>
			  <%= f.text_field :title %>
			</p>
			<p>
				<%= f.label :'company' %><br>
			  <%= f.text_field :company %>
			</p>
			<p>
				<%= f.label :'phone' %><br>
			  <%= f.text_field :phone %>
			</p>
			<p>
				<%= f.label :'email' %><br>
			  <%= f.text_field :email %>
			</p>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="submit" class="btn btn-secondary">Add</button>
			</div>
		<% end %>
	  </div>
	</div>
  </div>
</div>