<div class="modal fade bd-example-modal-lg" id= <%= modal_id %> tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
    	<button type="button" class="close text-right pr-3 pt-2" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="modal-header flex-column p-4">
        <h3><%= job.comp_name.capitalize %></h3>
        <h5 class = "font-italic"><%= job.title.capitalize %></h5>
        <div class = "col text-right">
        	<p class="modal-title ">Status: <%= job.status.capitalize %></p>
        	<%=link_to "Link to job listing", "http://#{job.url}" %>
        </div>

         <% if job.documents.length > 0 %>
	        <a href = <%= document_path(job.documents[0].id) %>> Link to Document </a>
        <% end %>

      </div>

      <%= form_with scope: :job, model: job, local: true do |form| %>
      <div class="modal-body row justify-content-center">
       	<div class = "job-info">
       		<p class = "p-2 m-0 font-weight-bold">GENERAL INFO</p>
       		<table class="table table-borderless border-right">
					  <tbody>
					    <tr>
					      <td>Company</td>
					      <td><%= form.text_field :comp_name, style: 'text-transform: capitalize;'%></td>
					    </tr>
					    <tr>
					      <td>Title</td>
					      <td><%= form.text_field :title, style: 'text-transform: capitalize;'%></td>
					    </tr>
					    <tr>
               <td>Status</td>
               <td><%=form.select :status, options_for_select(['Started', 'Submitted', '1st Interview', '2nd Interview', 'Awaiting Results', 'Offer Received', 'Rejected'], job.status)%></td>
             </tr>
             <tr>
               <td>Salary</td>
               <td><%=form.select :salary, options_for_select(['$0 - 1,999', '$2,000 - 2,999', '$3,000 - 3,999', '$4,000 - 4,999', '$5,000 - 5,999','$6,000 ++'], job.salary) %></td>
             </tr>
					    <tr>
					      <td>Location</td>
					      <td><%= form.text_field :location, style: 'text-transform: capitalize;'%></td>
					    </tr>
					    <tr>
					      <td>Salary</td>
					      <td><%= form.text_field :salary%></td>
					    </tr>
					    <tr>
					      <td>URL</td>
					      <td><%= form.text_field :url%></td>
					    </tr>



					  </tbody>
					</table>
      	</div>

      	<div class = "job-right-col">
      		<div class = "col">
      			<div class = "jobs-dates">
		      		<p class = "p-2 m-0 font-weight-bold">Key Dates</p>
		       		<table class="table table-borderless">
							  <tbody>
							    <tr>
							      <td>Submit Application By</td>
							      <td><%= form.date_field :deadline%></td>
							    </tr>
							    <tr>
							      <td>Upcoming Interview</td>
							      <td><%= form.date_field :interview%></td>
							    </tr>


				     <% if job.documents.length > 0 %>
	             <tr>
	               <td>Document</td>
	               <td><%=form.select :doc, options_for_select(@documents, job.documents[0].title) %></td>
	             </tr>
	           <% else %>
		           <tr>
	               <td>Document</td>
	               <td><%=form.select :doc, options_for_select(@documents) %></td>
	             </tr>
	           <% end %>

							  </tbody>
							</table>
						</div>
						<div class = "jobs-notes">
		      		<p class = "m-0 font-weight-bold">Notes</p>
						    <%= form.text_area :notes, class: 'form-control', rows: "5", placeholder: "Feel free to add notes here"%>
						</div>







					</div>
      	</div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <a href = <%= edit_job_path (job.id)%>>
        	<button type="submit" class="btn btn-primary">Save</button>
				<%= link_to 'Delete', job_path(job), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
      </div>
      <% end %>
    </div>
  </div>
</div>