<h1> All stats here</h1>

<h3>Insights</h3>

<%if @jobs.present?%>

<ul>
	<li>Total # of companies applied to: <%=@total_applied%> </li>
	<li>Total # of interview rounds reached: <%=@total_interview%> </li>
	<li>Total # of job cycles completed: <%=@total_completed%> </li>
	<li>Total # of offers: <%=@offer%> </li>
	<li>Total # of rejections: <%=@rejected%> </li>

	<li>Success rate: <%=@success_rate%> % </li>
</ul>

<p># of jobs applied this month: <%=@this_month%></p>
<%else%>
	<p>Create a job application to start tracking job stats</p>
<%end%>

<h3>Latest session</h3>

<%if @special.present?%>
	<p>Start date: <%=@special.created_at.localtime.strftime("%d %b")%></p>
	<p>Start time: <%=@special.created_at.localtime.strftime("%I:%M %p")%></p>
	<%if @special.mode == 'hard' %>
		<p>Mode: Hard</p>
	<%elsif @special.mode == 'easy' %>
		<p>Mode: Easy</p>
	<%end%>
	<p>Jobs Applied: <%=@special.total_jobs_applied%></p>
	<p>Time taken: <%=@special.time_taken %></p>
	<%if @special.result == 'pass' %>
		<p>Result: Success</p>
	<%elsif @special.result == 'fail' %>
		<p>Result: Failed</p>
	<%elsif @special.result == 'cancel' %>
		<p>Result: Cancelled</p>
	<%end%>

	<p># of sessions started today: <%=@specials_today.length%></p>
	<p>All sessions: <%=@specials.length%></p>




<%else%>
	<p>Start a session to start tracking session stats</p>
<%end%>