<!DOCTYPE html>
<html>
<head>
	<title>Seekr</title>
	<%= csrf_meta_tags %>
	<%= csp_meta_tag %>
	​
	<%= stylesheet_link_tag 'application', media: 'all' %>
	<%= javascript_pack_tag 'application' %>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
​
<body>
	<% if user_signed_in? %>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href='<%=root_path%>'>Seekr</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		​
		<div class="collapse navbar-collapse" id="navbarColor02">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href='<%=root_path%>'>Home</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-toggle="dropdown"role="button" aria-haspopup="true" aria-expanded="false" href='<%=jobs_path%>'>Jobs</a>
					<div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 37px, 0px); top: 0px; left: 0px; will-change: transform;">
						<a class="dropdown-item" href=<%= jobs_path%>>List View</a>
						<a class="dropdown-item" href=<%= status_job_path%>>Grid View</a>
					</div>
				</li>
				<li class="nav-item">
					<a class="nav-link" href=<%= documents_path%>>DOCUMENTS</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href=<%= contacts_path%>>CONTACTS</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href=<%= stats_path%>>STATS</a>
				</li>
			</ul>
			<ul class="navbar-nav">

				<% if current_user.mode == 'hard' %>
					<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalLong2">
					  IN SERIOUS MODE
					</button>
				<% elsif current_user.mode == 'fail'  %>

				<% else %>
					<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModalLong">
					  SERIOUS MODE
					</button>
				<% end %>


	      <%if current_user.mode == 'test' # add more 'or' conditions if got more than one mode here%>
					<% if Time.now > current_user.start_special.localtime + 5 %>
			      <%controller.redirect_to root_path%>
					<% end %>
				<% end %>



				<li class="nav-item">
					<%= link_to 'Logout', destroy_user_session_url, method: :delete, class: 'nav-link' %>
				</li>
			</ul>
		</div>
	</nav>
	<%end%>

						<!-- MODAL FOR ACTIVATING SERIOUS MODE HERE -->
	<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">ACTIVATING SERIOUS MODE</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        When activated, you will have 1 hour to apply for 20 jobs. There will be consequences if you fail.

        Are you sure you want to proceed?
      </div>
      <div class="modal-footer">
    		<%= form_with scope: :special, url: create_special_path, local: true do |f| %>
	      	<button type="submit" class="btn btn-primary">LET'S GO</button>
				<% end %>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">NO</button>
      </div>
    </div>
  </div>
</div>

						<!-- MODAL AFTER SERIOUS MODE ACTIVATED -->
	<div class="modal fade" id="exampleModalLong2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle2" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle2">IN SERIOUS MODE</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Do you want to exit SERIOUS MODE?
      </div>
      <div class="modal-footer">

      	<%= form_with scope: :special, url: update_special_path, local: true do |f| %>
	      	<button type="submit" class="btn btn-primary">YES</button>
				<% end %>

        <button type="button" class="btn btn-secondary" data-dismiss="modal">NO</button>
      </div>
    </div>
  </div>
</div>
						<!-- 								END 								 -->

	<div class="content">
		<%= yield %>
	</div>
	​
	<% if user_signed_in? %>
	<footer class= "col-12 font-small bg-dark pt-4 signInFooter">
		<div class="row footer-row">
			<div class="footer-copyright text-center py-3">Seekr © 2019 Copyright</div>
		</div>
			<%= render "modal-add-new"%>
			<%= render "modal-add-new-contact"%>
	</footer>
	​
	<%else%>
	<footer class= "col-12 page-footer font-small bg-dark pt-4">
		<div class="container-fluid">
			<div class="row footer-row">
				<h5 class="text-uppercase font-weight-bold footer-row"> Seekr! Get it now!</h5>
			</div>
			​
			<div class="row footer-text footer-row">
				<p>Now available on Appstore and Googleplay! Download your Seekr today!</p>
			</div>
			​
			<div class="row footer-row">
				<%= image_tag("badge-iphone.png", size: "200x60", alt: "Edit Entry") %>
				<%= image_tag("badge-android.png", size: "200x60", alt: "Edit Entry") %>
			</div>
			​
			<div class="row footer-row">
				<div class="footer-copyright text-center py-3">© 2019 Copyright</div>
			</div>
		</div>
	</footer>
	<%end%>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>